# Aggregate Using Multiple Operations

In [30]:
import swat
import os
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

hostValue = os.environ.get('CASHOST')
portValue = os.environ.get('CASPORT')
passwordToken=os.environ.get('SAS_VIYA_TOKEN')

conn = swat.CAS(hostname=hostValue,port=portValue,password=passwordToken)

## Load and explore data

In [31]:
## Load the data into CAS
conn.loadTable(path = 'WARRANTY_CLAIMS_0117.sashdat', caslib = 'samples',
               casOut = dict(name = "warranty_claims", caslib = 'casuser', replace = True))

## Reference and preview the CAS table
tbl = conn.CASTable("warranty_claims", caslib='casuser')
display(tbl.shape, tbl.head())

NOTE: Cloud Analytic Services made the file WARRANTY_CLAIMS_0117.sashdat available as table WARRANTY_CLAIMS in caslib CASUSER(Peter.Styliadis@sas.com).

(153217, 42)

,claim_attribute_1,seller_attribute_5,product_attribute_1,product_attribute_2,product_attribute_3,product_attribute_4,product_attribute_5,customer_attribute_1,x_product_attribute7,x_product_attribute9,srvc_prvdr_attribute_1,srvc_prvdr_attribute_4,srvc_prvdr_attribute_2,srvc_prvdr_attribute_3,srvc_prvdr_attribute_5,primary_labor_group_desc,primary_labor_desc,total_claim_count,CLAIM_REPAIR_START_DT_SK,CLAIM_REPAIR_END_DT_SK,CLAIM_PROCESSED_DT_SK,CLAIM_SUBMITTED_DT_SK,PRIMARY_LABOR_CD,DEFECT_SK,PRIMARY_LABOR_GROUP_CD,PRIMARY_MATERIAL_ID,PRIMARY_MATERIAL_GROUP_CD,WARRANTY_CLAIM_ID,USAGE_VALUE,GROSS_CLAIM_AMT,GROSS_LABOR_AMT,GROSS_MATERIAL_AMT,GROSS_OTHER_AMT,PRODUCT_ID,PRODUCT_MODEL_CD,PRODUCTION_DT,IN_SERVICE_DT,SHIP_DT,SHIP_YEAR_CD,DEFECT_CD,service_provider_latitude,service_provider_longitude
0,Type 6,00283,G1,XE,110,Zeus,2016,USA,8 cylinder,Pittsburgh,North America Commercial,Tennessee,001,USA,D254,Engine,Relay: Solenoid Valve - Repair/Replace,1.0,2016-04-07,2016-04-10,2016-04-24,2016-04-14,E-005,1.0,E,4-654,4,C1_09386801_4V4NC9GH83N338853,11947.0,1699.466376,1195.757720,403.087427,100.621230,4V4NC9GH83N338853,Galacto,2015-02-24,2015-03-27,2015-03-10,2015,,35.7837,-86.4310
1,Type 6,00417,A1,XE,122,Zeus,2018,USA,8 cylinder,Pittsburgh,North America Commercial,California,003,USA,D931,Engine,Pump & Motor Assy - Replace,1.0,2018-02-20,2018-02-23,2018-03-04,2018-02-28,E-008,1.0,E,0-920,0,C1_05960601_4V4MC9GG95N387341,5537.0,661.748457,422.034431,156.721301,82.992725,4V4MC9GG95N387341,Gemini,2017-07-21,2017-08-30,2017-08-04,2017,,35.4430,-119.3619
2,Type 6,00178,A1,XE,095,Titan,2016,USA,8 cylinder,Charlotte,North America Commercial,New York,004,USA,D625,Engine,Compressor: Air - Replace,1.0,2017-09-22,2017-09-25,2017-10-03,2017-09-29,E-004,1.0,E,1-382,1,C1_55041402_4V5KC9GG73N348716,1383.0,1148.611759,595.726919,474.115248,78.769591,4V5KC9GG73N348716,Abyss,2015-12-15,2016-01-14,2015-12-29,2015,,41.5435,-74.6941
3,Type 6,00127,Z3,XE,122,Zeus,2016,USA,8 cylinder,Charlotte,North America Commercial,Pennsylvania,004,USA,D120,Engine,Energy Unit Assembly - Replace,1.0,2017-10-04,2017-10-07,2017-10-17,2017-10-11,E-009,1.0,E,9-365,9,C1_16228201_4V4MC9GG13N343699,17370.0,3146.677647,648.629105,2498.048542,0.000000,4V4MC9GG13N343699,Gemini,2015-10-28,NaT,2015-11-11,2015,,40.4643,-77.1222
4,Type 6,00246,D1,XE,110,Zeus,2018,USA,4 cylinder,Charlotte,North America Commercial,Florida,001,USA,D652,Chassis,Mount: Rear Axle Cradle Right - Replace,1.0,2017-10-09,2017-10-12,2017-10-23,2017-10-16,C-003,5.0,C,8-987,8,C1_96326101_4V4NC9TGX5N385852,1030.0,103.602289,59.997555,43.604734,0.000000,4V4NC9TGX5N385852,Galacto,2017-07-21,2017-09-18,2017-08-04,2017,,27.8002,-81.6528

### Prepare the CAS table

In [32]:
def prep_cas_table(castable):
    
    ##
    ## Rename CAS table columns using the CAS table column lables
    ##
    
    ## Store the raw column names in a list
    raw_column_names = (castable
                        .columnInfo()['ColumnInfo']
                        .loc[:, "Column"]
                        .to_list())

    ## Store the column labels in a list
    column_label_names = (castable
                          .columnInfo()['ColumnInfo']
                          .loc[:, "Label"]
                          .to_list())

    ## Rename the raw column names of the CAS table using the labels. Replace any spaces with an underscore
    column_labels_as_column_names = [{'name':raw_column_names[colNumber], 'rename':column_label_names[colNumber].replace(" ","_")} for colNumber in np.arange(len(raw_column_names))]
    castable.alterTable(columns = column_labels_as_column_names)

    ##
    ## Select the necessary columns for the demonstration
    ##
    selectColumns = ['Make',
                     'Model_Year',
                     'Gross_Claim_Amount',
                     'Gross_Labor_Amount', 
                     'Gross_Material_Amount', 
                     'Gross_Other_Amount']
    castable.vars = selectColumns
    return castable.head(10)

## Execute the function to prepare the CAS table
prep_cas_table(tbl)

,Make,Model_Year,Gross_Claim_Amount,Gross_Labor_Amount,Gross_Material_Amount,Gross_Other_Amount
0,Zeus,2016,1699.466376,1195.757720,403.087427,100.621230
1,Zeus,2018,661.748457,422.034431,156.721301,82.992725
2,Titan,2016,1148.611759,595.726919,474.115248,78.769591
3,Zeus,2016,3146.677647,648.629105,2498.048542,0.000000
4,Zeus,2018,103.602289,59.997555,43.604734,0.000000
5,Zeus,2016,458.270672,341.477488,116.793184,0.000000
6,Zeus,2016,229.955119,99.018873,130.936247,0.000000
7,Zeus,2016,378.145000,318.763710,59.381289,0.000000
8,Zeus,2016,164.552516,36.253810,128.298706,0.000000
9,Zeus,2016,333.601764,279.060767,54.540996,0.000000

## Load the aggregation action

In [33]:
conn.loadActionSet('aggregation')

NOTE: Added action set 'aggregation'.

[actionset]

 'aggregation'

+ Elapsed: 0.00102s, user: 0.000996s, mem: 0.213mb

In [34]:
conn.help(actionset="aggregation")

NOTE: Information for action set 'aggregation':
NOTE:    aggregation
NOTE:       aggregate - Performs aggregation on selected variables

[aggregation]

         name                                 description
 0  aggregate  Performs aggregation on selected variables

+ Elapsed: 0.000443s, user: 0.000243s, sys: 0.000177s, mem: 0.303mb

## Multiple operations on a single column

In [35]:
cr = tbl.aggregate(varSpecs = [
        {'name':'Gross_Claim_Amount', 'subSet' : ['MIN','MEAN','MAX','SUM']},
        {'name':'Gross_Claim_Amount', 'agg' : "MEDIAN"},
        {'name':'Gross_Claim_Amount', 'agg' : "PERCENTILE"},
    ]
)
display(cr)

[AggStatistics.Var1]

 Aggregated Statistics for WARRANTY_CLAIMS

    VarSpec              Column  Min           Max        Mean           Sum
 0        0  Gross_Claim_Amount  0.0  75292.757377  540.225731  8.277177e+07

[AggStatistics.Var2]

 Aggregated Statistics for WARRANTY_CLAIMS

    VarSpec              Column         Q2
 0        1  Gross_Claim_Amount  208.89587

[AggStatistics.Var3]

 Aggregated Statistics for WARRANTY_CLAIMS

    VarSpec              Column   P1         P5        P10         P25  \
 0        2  Gross_Claim_Amount  0.0  39.097491  60.035077  111.988166

          P50         P75          P90          P95          P99
 0  208.89587  439.881829  1176.982348  2017.491443  5544.046902

+ Elapsed: 0.177s, user: 1.73s, sys: 0.0557s, mem: 51.9mb

## Multiple operations on a multiple columns

In [36]:
cr = tbl.aggregate(varSpecs = [
        {'name':'Gross_Claim_Amount', 'subSet' : ['MIN','MEAN','MAX','SUM']},
        {'name':'Gross_Claim_Amount', 'agg' : "MEDIAN"},
        {'name':'Gross_Claim_Amount', 'agg' : "PERCENTILE"},
        {'name':'Gross_Labor_Amount', 'subSet' : ['MIN','MEAN','MAX','SUM']},
        {'name':'Gross_Labor_Amount', 'agg' : "MEDIAN"},
        {'name':'Gross_Labor_Amount', 'agg' : "PERCENTILE"},
    ]
)
display(cr)

[AggStatistics.Var1]

 Aggregated Statistics for WARRANTY_CLAIMS

    VarSpec              Column  Min           Max        Mean           Sum
 0        0  Gross_Claim_Amount  0.0  75292.757377  540.225731  8.277177e+07

[AggStatistics.Var2]

 Aggregated Statistics for WARRANTY_CLAIMS

    VarSpec              Column         Q2
 0        1  Gross_Claim_Amount  208.89587

[AggStatistics.Var3]

 Aggregated Statistics for WARRANTY_CLAIMS

    VarSpec              Column   P1         P5        P10         P25  \
 0        2  Gross_Claim_Amount  0.0  39.097491  60.035077  111.988166

          P50         P75          P90          P95          P99
 0  208.89587  439.881829  1176.982348  2017.491443  5544.046902

[AggStatistics.Var4]

 Aggregated Statistics for WARRANTY_CLAIMS

    VarSpec              Column  Min           Max       Mean           Sum
 0        3  Gross_Labor_Amount  0.0  14134.469857  184.14976  2.821487e+07

[AggStatistics.Var5]

 Aggregated Statistics for WARRANTY_CLAIMS

    VarSpec              Column          Q2
 0        4  Gross_Labor_Amount  118.853158

[AggStatistics.Var6]

 Aggregated Statistics for WARRANTY_CLAIMS

    VarSpec              Column   P1   P5        P10        P25         P50  \
 0        5  Gross_Labor_Amount  0.0  0.0  14.608259  62.366981  118.853158

           P75         P90         P95          P99
 0  214.006799  372.893393  542.420932  1221.648316

+ Elapsed: 0.18s, user: 1.72s, sys: 0.0701s, mem: 57.3mb

## Perform multiple aggregations on grouped data

In [45]:
tbl.head()

,Make,Model_Year,Gross_Claim_Amount,Gross_Labor_Amount,Gross_Material_Amount,Gross_Other_Amount
0,Zeus,2016,1699.466376,1195.757720,403.087427,100.621230
1,Zeus,2018,661.748457,422.034431,156.721301,82.992725
2,Titan,2016,1148.611759,595.726919,474.115248,78.769591
3,Zeus,2016,3146.677647,648.629105,2498.048542,0.000000
4,Zeus,2018,103.602289,59.997555,43.604734,0.000000

In [47]:
cr = (tbl
      .groupby("Model_Year")
      .aggregate(varSpecs = [
        {'name':'Gross_Claim_Amount', 'subSet' : ['MIN','MEAN','MAX','SUM']},
        {'name':'Gross_Claim_Amount', 'agg' : "PERCENTILE"},
        {'name':'Gross_Labor_Amount', 'subSet' : ['MIN','MEAN','MAX','SUM']},
        {'name':'Gross_Labor_Amount', 'agg' : "PERCENTILE"},
                ])
)
display(cr)

[ByGroupInfo]

 ByGroupInfo

   Model_Year Model_Year_f _key_
 0       2015         2015  2015
 1       2016         2016  2016
 2       2017         2017  2017
 3       2018         2018  2018
 4       2019         2019  2019

[ByGroup1.AggStatistics.Var1]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column  Min           Max        Mean  \
 Model_Year
 2015              0  Gross_Claim_Amount  0.0  30269.008406  617.578326

                      Sum
 Model_Year
 2015        1.572354e+06

[ByGroup1.AggStatistics.Var2]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column   P1        P5        P10        P25  \
 Model_Year
 2015              1  Gross_Claim_Amount  0.0  6.993997  40.713456  76.297082

                    P50         P75         P90          P95          P99
 Model_Year
 2015        199.277435  471.623312  1273.19444  2389.242308  7349.101274

[ByGroup1.AggStatistics.Var3]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column  Min           Max        Mean  \
 Model_Year
 2015              2  Gross_Labor_Amount  0.0  14134.469857  181.041305

                       Sum
 Model_Year
 2015        460931.162789

[ByGroup1.AggStatistics.Var4]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column   P1   P5  P10  P25        P50  \
 Model_Year
 2015              3  Gross_Labor_Amount  0.0  0.0  0.0  0.0  90.199531

                    P75         P90         P95          P99
 Model_Year
 2015        204.218906  415.565728  630.484581  1623.340072

[ByGroup2.AggStatistics.Var1]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column  Min           Max        Mean  \
 Model_Year
 2016              0  Gross_Claim_Amount  0.0  59460.883929  541.438476

                      Sum
 Model_Year
 2016        1.770883e+07

[ByGroup2.AggStatistics.Var2]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column   P1         P5        P10  \
 Model_Year
 2016              1  Gross_Claim_Amount  0.0  36.288252  55.606422

                    P25         P50        P75          P90          P95  \
 Model_Year
 2016        103.687951  214.827775  454.58884  1140.643796  1906.894114

                     P99
 Model_Year
 2016        5392.171208

[ByGroup2.AggStatistics.Var3]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column  Min          Max        Mean  \
 Model_Year
 2016              2  Gross_Labor_Amount  0.0  10715.89136  192.181366

                      Sum
 Model_Year
 2016        6.285676e+06

[ByGroup2.AggStatistics.Var4]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column   P1   P5  P10        P25         P50  \
 Model_Year
 2016              3  Gross_Labor_Amount  0.0  0.0  0.0  57.772022  110.719361

                    P75         P90        P95          P99
 Model_Year
 2016        218.836593  390.465926  587.51981  1431.938405

[ByGroup3.AggStatistics.Var1]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column  Min           Max        Mean  \
 Model_Year
 2017              0  Gross_Claim_Amount  0.0  75292.757377  493.341694

                      Sum
 Model_Year
 2017        3.477023e+07

[ByGroup3.AggStatistics.Var2]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column   P1         P5        P10  \
 Model_Year
 2017              1  Gross_Claim_Amount  0.0  42.203046  63.017975

                    P25         P50         P75          P90          P95  \
 Model_Year
 2017        113.891875  203.875269  415.477976  1163.621222  1875.391314

                    P99
 Model_Year
 2017        4484.77179

[ByGroup3.AggStatistics.Var3]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column  Min           Max        Mean  \
 Model_Year
 2017              2  Gross_Labor_Amount  0.0  12662.068384  178.429785

                      Sum
 Model_Year
 2017        1.257555e+07

[ByGroup3.AggStatistics.Var4]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column   P1   P5        P10        P25  \
 Model_Year
 2017              3  Gross_Labor_Amount  0.0  0.0  25.508765  64.784614

                    P50         P75         P90         P95          P99
 Model_Year
 2017        120.314975  211.807325  356.156045  505.477451  1080.826025

[ByGroup4.AggStatistics.Var1]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column  Min           Max        Mean  \
 Model_Year
 2018              0  Gross_Claim_Amount  0.0  71006.171044  601.120722

                      Sum
 Model_Year
 2018        2.643428e+07

[ByGroup4.AggStatistics.Var2]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column   P1        P5        P10         P25  \
 Model_Year
 2018              1  Gross_Claim_Amount  0.0  37.76916  61.409026  117.181832

                    P50         P75          P90          P95          P99
 Model_Year
 2018        214.539048  460.552071  1227.385708  2315.963654  7124.877288

[ByGroup4.AggStatistics.Var3]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column  Min          Max        Mean  \
 Model_Year
 2018              2  Gross_Labor_Amount  0.0  9239.113365  185.506799

                      Sum
 Model_Year
 2018        8.157661e+06

[ByGroup4.AggStatistics.Var4]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column   P1   P5        P10        P25  \
 Model_Year
 2018              3  Gross_Labor_Amount  0.0  0.0  21.264269  63.304449

                    P50         P75         P90         P95          P99
 Model_Year
 2018        121.744375  213.636029  381.556406  566.223264  1244.500577

[ByGroup5.AggStatistics.Var1]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column  Min           Max        Mean  \
 Model_Year
 2019              0  Gross_Claim_Amount  0.0  34035.219092  651.302034

                      Sum
 Model_Year
 2019        2.286070e+06

[ByGroup5.AggStatistics.Var2]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column   P1         P5        P10  \
 Model_Year
 2019              1  Gross_Claim_Amount  0.0  39.248059  64.444254

                    P25         P50         P75          P90          P95  \
 Model_Year
 2019        111.335363  208.064889  537.808004  1502.891761  2628.179578

                   P99
 Model_Year
 2019        7048.0987

[ByGroup5.AggStatistics.Var3]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column  Min           Max        Mean  \
 Model_Year
 2019              2  Gross_Labor_Amount  0.0  10540.468751  209.416652

                       Sum
 Model_Year
 2019        735052.447498

[ByGroup5.AggStatistics.Var4]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column   P1   P5       P10        P25  \
 Model_Year
 2019              3  Gross_Labor_Amount  0.0  0.0  5.388098  77.301086

                    P50        P75         P90         P95         P99
 Model_Year
 2019        125.999635  227.58866  428.597763  639.775383  1383.41204

+ Elapsed: 1.03s, user: 1.92s, sys: 21s, mem: 133mb

In [48]:
cr.concat_bygroups()

[AggStatistics.Var1]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column  Min           Max        Mean  \
 Model_Year
 2015              0  Gross_Claim_Amount  0.0  30269.008406  617.578326
 2016              0  Gross_Claim_Amount  0.0  59460.883929  541.438476
 2017              0  Gross_Claim_Amount  0.0  75292.757377  493.341694
 2018              0  Gross_Claim_Amount  0.0  71006.171044  601.120722
 2019              0  Gross_Claim_Amount  0.0  34035.219092  651.302034

                      Sum
 Model_Year
 2015        1.572354e+06
 2016        1.770883e+07
 2017        3.477023e+07
 2018        2.643428e+07
 2019        2.286070e+06

[AggStatistics.Var2]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column   P1         P5        P10  \
 Model_Year
 2015              1  Gross_Claim_Amount  0.0   6.993997  40.713456
 2016              1  Gross_Claim_Amount  0.0  36.288252  55.606422
 2017              1  Gross_Claim_Amount  0.0  42.203046  63.017975
 2018              1  Gross_Claim_Amount  0.0  37.769160  61.409026
 2019              1  Gross_Claim_Amount  0.0  39.248059  64.444254

                    P25         P50         P75          P90          P95  \
 Model_Year
 2015         76.297082  199.277435  471.623312  1273.194440  2389.242308
 2016        103.687951  214.827775  454.588840  1140.643796  1906.894114
 2017        113.891875  203.875269  415.477976  1163.621222  1875.391314
 2018        117.181832  214.539048  460.552071  1227.385708  2315.963654
 2019        111.335363  208.064889  537.808004  1502.891761  2628.179578

                     P99
 Model_Year
 2015        7349.101274
 2016        5392.171208
 2017        4484.771790
 2018        7124.877288
 2019        7048.098700

[AggStatistics.Var3]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column  Min           Max        Mean  \
 Model_Year
 2015              2  Gross_Labor_Amount  0.0  14134.469857  181.041305
 2016              2  Gross_Labor_Amount  0.0  10715.891360  192.181366
 2017              2  Gross_Labor_Amount  0.0  12662.068384  178.429785
 2018              2  Gross_Labor_Amount  0.0   9239.113365  185.506799
 2019              2  Gross_Labor_Amount  0.0  10540.468751  209.416652

                      Sum
 Model_Year
 2015        4.609312e+05
 2016        6.285676e+06
 2017        1.257555e+07
 2018        8.157661e+06
 2019        7.350524e+05

[AggStatistics.Var4]

 Aggregated Statistics for WARRANTY_CLAIMS

             VarSpec              Column   P1   P5        P10        P25  \
 Model_Year
 2015              3  Gross_Labor_Amount  0.0  0.0   0.000000   0.000000
 2016              3  Gross_Labor_Amount  0.0  0.0   0.000000  57.772022
 2017              3  Gross_Labor_Amount  0.0  0.0  25.508765  64.784614
 2018              3  Gross_Labor_Amount  0.0  0.0  21.264269  63.304449
 2019              3  Gross_Labor_Amount  0.0  0.0   5.388098  77.301086

                    P50         P75         P90         P95          P99
 Model_Year
 2015         90.199531  204.218906  415.565728  630.484581  1623.340072
 2016        110.719361  218.836593  390.465926  587.519810  1431.938405
 2017        120.314975  211.807325  356.156045  505.477451  1080.826025
 2018        121.744375  213.636029  381.556406  566.223264  1244.500577
 2019        125.999635  227.588660  428.597763  639.775383  1383.412040

## Terminate the CAS session

In [ ]:
conn.terminate()