# Rename Columns
[Getting started with Python integration to SAS速 Viya速 - Part 11 - Rename Columns](https://blogs.sas.com/content/sgf/2022/10/13/getting-started-with-python-integration-to-sas-viya-part-11-rename-columns/) blog post

## Import Packages
Visit the documentation for the SWAT [(SAS Scripting Wrapper for Analytics Transfer)](https://sassoftware.github.io/python-swat/index.html) package.

In [1]:
import swat
import pandas as pd

## custom personal module to connect to my CAS server environment
from casConnect import connect_to_cas

## Make a Connection to CAS (REQUIRED: MODIFY CONNECTION INFORMATION)

##### To connect to the CAS server you will need:
1. the host name, 
2. the portnumber, 
3. your user name, and your password.

Visit the documentation [Getting Started with SAS速 Viya速 for Python](https://go.documentation.sas.com/doc/en/pgmsascdc/default/caspg3/titlepage.htm) for more information about connecting to CAS.

**Be aware that connecting to the CAS server can be implemented in various ways, so you might need to see your system administrator about how to make a connection. Please follow company policy regarding authentication.**

In [2]:
##
## Connect to CAS
##

## General connection syntax
# conn = swat.CAS(host, port, username, password)

## SAS Viya for Learners 3.5 connection
# hostValue = os.environ.get('CASHOST')
# portValue = os.environ.get('CASPORT')
# passwordToken=os.environ.get('SAS_VIYA_TOKEN')
# conn = swat.CAS(hostname=hostValue, port=portValue, password=passwordToken)

## Personal connection
try:
    conn = connect_to_cas()
    print('CAS connection succesful')
    print(conn)
except:
    print('No connection')
    pass

CAS connection succesful
CAS('ssemonthly.demo.sas.com', 443, protocol='https', name='py-session-1', session='071c241c-eda3-9d40-97b5-d50bef3c2142')

## Load and explore data

In [3]:
conn.loadTable(path = 'WATER_CLUSTER.sashdat', caslib = 'samples',
                            casOut = dict(caslib = 'casuser'))
 
tbl = conn.CASTable('water_cluster', caslib='casuser')
 
tbl.columnInfo()

NOTE: Cloud Analytic Services made the file WATER_CLUSTER.sashdat available as table WATER_CLUSTER in caslib CASUSER(Peter.Styliadis@sas.com).

[ColumnInfo]

             Column           Label  ID    Type  RawLength  FormattedLength  Format  NFL  NFD
 0             Year                   1  double          8               12            0    0
 1            Month           Month   2  double          8               12            0    0
 2              Day                   3  double          8               12            0    0
 3             Date                   4  double          8               10  MMDDYY   10    0
 4           Serial                   5  double          8                4    BEST    4    0
 5         Property                   6  double          8                4    BEST    4    0
 6          Address                   7    char         28               28   $CHAR   28    0
 7             City                   8    char          7                7   $CHAR    7    0
 8              Zip                   9  double          8                5    BEST    5    0
 9              Lat                  10  double          8               10    BEST   10    0
 10            Long                  11  double          8                9    BEST    9    0
 11   Property_type   Property_type  12  double          8                1    BEST    1    0
 12  Meter_Location  Meter_Location  13    char          8                8   $CHAR    8    0
 13            Clli                  14    char          8                8   $CHAR    8    0
 14             DMA                  15  double          8                1    BEST    1    0
 15         Weekday                  16  double          8               12            0    0
 16         Weekend                  17  double          8               12            0    0
 17    Daily_W_C_M3                  18  double          8               12            0    0
 18            Week            Week  19  double          8               12            0    0
 19      US Holiday                  20    char         27               27   $CHAR   27    0
 20         CLUSTER         Cluster  21  double          8               12            0    0

+ Elapsed: 0.0107s, user: 0.00408s, sys: 0.0207s, mem: 2.44mb

## Rename CAS table columns
### Rename a single column

In [4]:
tbl.alterTable(columns = [
                {'name':'Year', 'rename':'Year_Value'}
              ])

tbl.columnInfo()

[ColumnInfo]

             Column           Label  ID    Type  RawLength  FormattedLength  Format  NFL  NFD
 0       Year_Value                   1  double          8               12            0    0
 1            Month           Month   2  double          8               12            0    0
 2              Day                   3  double          8               12            0    0
 3             Date                   4  double          8               10  MMDDYY   10    0
 4           Serial                   5  double          8                4    BEST    4    0
 5         Property                   6  double          8                4    BEST    4    0
 6          Address                   7    char         28               28   $CHAR   28    0
 7             City                   8    char          7                7   $CHAR    7    0
 8              Zip                   9  double          8                5    BEST    5    0
 9              Lat                  10  double          8               10    BEST   10    0
 10            Long                  11  double          8                9    BEST    9    0
 11   Property_type   Property_type  12  double          8                1    BEST    1    0
 12  Meter_Location  Meter_Location  13    char          8                8   $CHAR    8    0
 13            Clli                  14    char          8                8   $CHAR    8    0
 14             DMA                  15  double          8                1    BEST    1    0
 15         Weekday                  16  double          8               12            0    0
 16         Weekend                  17  double          8               12            0    0
 17    Daily_W_C_M3                  18  double          8               12            0    0
 18            Week            Week  19  double          8               12            0    0
 19      US Holiday                  20    char         27               27   $CHAR   27    0
 20         CLUSTER         Cluster  21  double          8               12            0    0

+ Elapsed: 0.0111s, user: 0.00569s, sys: 0.0195s, mem: 2.44mb

### Rename multiple columns

In [5]:
## Columns to rename
renameColumns = [
    {'name': 'Month', 'rename':'Month_Value'},
    {'name': 'Day', 'rename':'Day_Value'}
]
 
## Rename the CAS table columns
tbl.alterTable(columns = renameColumns)
 
## View the column information of the CAS table
tbl.columnInfo()

[ColumnInfo]

             Column           Label  ID    Type  RawLength  FormattedLength  Format  NFL  NFD
 0       Year_Value                   1  double          8               12            0    0
 1      Month_Value           Month   2  double          8               12            0    0
 2        Day_Value                   3  double          8               12            0    0
 3             Date                   4  double          8               10  MMDDYY   10    0
 4           Serial                   5  double          8                4    BEST    4    0
 5         Property                   6  double          8                4    BEST    4    0
 6          Address                   7    char         28               28   $CHAR   28    0
 7             City                   8    char          7                7   $CHAR    7    0
 8              Zip                   9  double          8                5    BEST    5    0
 9              Lat                  10  double          8               10    BEST   10    0
 10            Long                  11  double          8                9    BEST    9    0
 11   Property_type   Property_type  12  double          8                1    BEST    1    0
 12  Meter_Location  Meter_Location  13    char          8                8   $CHAR    8    0
 13            Clli                  14    char          8                8   $CHAR    8    0
 14             DMA                  15  double          8                1    BEST    1    0
 15         Weekday                  16  double          8               12            0    0
 16         Weekend                  17  double          8               12            0    0
 17    Daily_W_C_M3                  18  double          8               12            0    0
 18            Week            Week  19  double          8               12            0    0
 19      US Holiday                  20    char         27               27   $CHAR   27    0
 20         CLUSTER         Cluster  21  double          8               12            0    0

+ Elapsed: 0.0127s, user: 0.00644s, sys: 0.0218s, mem: 2.45mb

### Dynamically rename columns

In [6]:
newColumnNames = [{'name':colName, 'rename':colName.replace("_","").lower()} for colName in tbl.columns]
display(newColumnNames)

[{'name': 'Year_Value', 'rename': 'yearvalue'},
 {'name': 'Month_Value', 'rename': 'monthvalue'},
 {'name': 'Day_Value', 'rename': 'dayvalue'},
 {'name': 'Date', 'rename': 'date'},
 {'name': 'Serial', 'rename': 'serial'},
 {'name': 'Property', 'rename': 'property'},
 {'name': 'Address', 'rename': 'address'},
 {'name': 'City', 'rename': 'city'},
 {'name': 'Zip', 'rename': 'zip'},
 {'name': 'Lat', 'rename': 'lat'},
 {'name': 'Long', 'rename': 'long'},
 {'name': 'Property_type', 'rename': 'propertytype'},
 {'name': 'Meter_Location', 'rename': 'meterlocation'},
 {'name': 'Clli', 'rename': 'clli'},
 {'name': 'DMA', 'rename': 'dma'},
 {'name': 'Weekday', 'rename': 'weekday'},
 {'name': 'Weekend', 'rename': 'weekend'},
 {'name': 'Daily_W_C_M3', 'rename': 'dailywcm3'},
 {'name': 'Week', 'rename': 'week'},
 {'name': 'US Holiday', 'rename': 'us holiday'},
 {'name': 'CLUSTER', 'rename': 'cluster'}]

In [7]:
tbl.alterTable(columns = newColumnNames)

tbl.columnInfo()

[ColumnInfo]

            Column           Label  ID    Type  RawLength  FormattedLength  Format  NFL  NFD
 0       yearvalue                   1  double          8               12            0    0
 1      monthvalue           Month   2  double          8               12            0    0
 2        dayvalue                   3  double          8               12            0    0
 3            date                   4  double          8               10  MMDDYY   10    0
 4          serial                   5  double          8                4    BEST    4    0
 5        property                   6  double          8                4    BEST    4    0
 6         address                   7    char         28               28   $CHAR   28    0
 7            city                   8    char          7                7   $CHAR    7    0
 8             zip                   9  double          8                5    BEST    5    0
 9             lat                  10  double          8               10    BEST   10    0
 10           long                  11  double          8                9    BEST    9    0
 11   propertytype   Property_type  12  double          8                1    BEST    1    0
 12  meterlocation  Meter_Location  13    char          8                8   $CHAR    8    0
 13           clli                  14    char          8                8   $CHAR    8    0
 14            dma                  15  double          8                1    BEST    1    0
 15        weekday                  16  double          8               12            0    0
 16        weekend                  17  double          8               12            0    0
 17      dailywcm3                  18  double          8               12            0    0
 18           week            Week  19  double          8               12            0    0
 19     us holiday                  20    char         27               27   $CHAR   27    0
 20        cluster         Cluster  21  double          8               12            0    0

+ Elapsed: 0.0139s, user: 0.0121s, sys: 0.0151s, mem: 2.44mb

## Terminate the CAS Connection

In [8]:
conn.terminate()